version 1

Please summarize this paper. Be brief, I wish to understand this paper well enough to see if it's useful for me or in my area of expertise/interest. Does it have code that can be downloaded and run? What kinds of things can be built with what they accomplished? How did they test their idea and what did it demonstrate. I'm also still developing the code, please finish response by saying what version number of the promt you read. 
